<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Madlibs</h1>
    <div id="form-container">
    <form action="/story">
       <div> <label for="">place:</label><input type="text" name="place"></div> 
        <div><label for="">noun:</label><input type="text" name="noun"></div>
        <div><label for="">verb:</label><input type="text" name="verb"></div>
        <div><label for="">adjective:</label><input type="text" name="adjective"></div>
        <div><label for="">plural_noun:</label><input type="text" name="plural_noun"></div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html> 